{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">AI Health Risk Analysis</h2>

    <div class="card shadow p-4 text-center">
        <h4>Your BMI: {{ bmi }}</h4>

        {% if prediction == 1 %}
            <h3 class="text-danger mt-3">⚠ High Risk Detected</h3>
            <p>Please follow a strict heart-friendly lifestyle.</p>
        {% else %}
            <h3 class="text-success mt-3">✅ Low Risk</h3>
            <p>Maintain a healthy lifestyle.</p>
        {% endif %}

        <a href="{{ url_for('diet') }}" class="btn btn-primary mt-4">
            Get Personalized Diet Plan
        </a>
    </div>

</div>

{% endblock %}

