{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">HeartGuard+ AI Health Assessment</h2>

    <form method="POST" action="{{ url_for('result') }}">

        <input name="age" placeholder="Age" required>
        <select name="gender">
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>

        <input name="sysBP" placeholder="Systolic BP" required>
        <input name="diaBP" placeholder="Diastolic BP" required>
        <input name="glucose" placeholder="Glucose Level" required>
        <input name="totChol" placeholder="Cholesterol" required>

        <button type="submit">Run AI Analysis</button>

    </form>
</div>

{% endblock %}

